body {
  padding: 0px;
  margin: 0px;
  background-color: #cce5e6 !important;
  overflow-x: hidden;
}

#logo {
  width: 80px;
  height: 80px;
}

#home-banner {
  width: 100%;
  height: 400px;
  color: black;
  background-color: antiquewhite;
  background-image: url("../productimage/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

header {
  height: 15vh;
  width: 100%;
  background-color: #92c7cf;
  opacity: 0.8;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  font-weight: bolder;
}

.collapse > .navbar-nav > .nav-item > a:hover {
  background-color: white;
  gap: 15px;
}

iframe {
  width: 100%;
}

#Cart {
  background-color: #92c7cf;
  color: #1f484f;
  width: 600px;
  max-width: 100%;
  position: fixed;
  top: 90;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
}
#Cart > h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
#Cart > .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#Cart > .btn > button {
  background-color: #1f484f;
  border: none;
  font-weight: 500;
  color: white;
}
/* #Cart>.btn>button>.close{
  background-color: ;
} */
#Cart > .listcart {
  overflow: auto;
}
#Cart > .listcart::-webkit-scrollbar {
  width: 0;
}
body.activetabcart .container {
  transform: translateX(-250px);
}
#Cart {
  right: -400;
  transition: 0.5s;
}
body.activetabcart #Cart {
  right: 0;
}

#logo {
  width: 80px;
  height: 80px;
}

#head {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

.press > a {
  color: black;
  font-weight: bolder;
  text-decoration: none;
  margin-right: 30px;
  font-size: 20px;
}

.press > a:hover {
  color: Teal;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

footer {
  height: auto;
  width: 100%;
  background-color: #92c7cf;
}

#footerBox {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}

#qr-code {
  height: 300px;
  width: 250px;
  margin: 20px 10px;
}

#line {
  width: 100%;
  padding: 2px;
  background-color: #1f484f;
}

.navigation {
  height: 300px;
  width: 125px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 20px;
  padding: 10px;
}
.navigation > nav > a {
  text-decoration: none;
  font-size: 20px;
  color: #1f484f;
  font-family: "Kanit", sans-serif;
}

.navigation > nav > a:hover {
  color: black;
  text-decoration: underline;
}

.contact {
  height: 300px;
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 20px;
  padding: 10px;
}
.contact > nav > pre > a {
  text-decoration: none;
  font-size: 15px;
  color: #1f484f;
  font-family: "Kanit", sans-serif;
}

.contact > nav > pre > a :hover {
  color: black;
  text-decoration: underline;
}

.product {
  height: 300px;
  width: 190px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 20px;
  padding: 10px;
}
.product > nav > a {
  text-decoration: none;
  font-size: 20px;
  color: #1f484f;
  font-family: "Kanit", sans-serif;
}

.product > nav > a:hover {
  color: black;
  text-decoration: underline;
}

hr {
  width: auto;
  height: 1px;
  background-color: black;
}

#copy {
  text-align: center;
  margin: 10px;
  font-size: 30px;
}

.hide-text {
  color: transparent;
}
.hide-text:hover {
  color: black;
}
.whatsapp {
  position: fixed;
  bottom: 250px;
  right: 0px;
  height: 50px;
  width: 50px;
  background-color: gray;
  text-align: center;
  transition-duration: 1.1s;
  color: black;
  /* border-radius: 10px; */
  /* opacity: 0.4; */
}
.whatsapp:hover {
  height: 50px;
  width: 200px;
  background-color: #92c7cf;
}

.phone {
  height: 50px;
  width: 50px;
  background-color: gray;
  color: black;
  position: fixed;
  bottom: 200px;
  right: 0px;
  text-align: center;
  transition-duration: 1.1s;
  /* border-radius: 20px; */
  /* opacity: 0.4; */
}
.phone:hover {
  height: 50px;
  width: 200px;
  background-color: #92c7cf;
}

.email {
  height: 50px;
  width: 50px;
  background-color: gray;
  color: black;
  position: fixed;
  bottom: 150px;
  right: 0px;
  text-align: center;
  transition-duration: 1.1s;
  /* border-radius: 20px;
  opacity: 0.4; */
}
.email:hover {
  height: 50px;
  width: 200px;
  background-color: #92c7cf;
}

.arrow {
  height: 50px;
  width: 50px;
  background-color: gray;
  color: black;
  position: fixed;
  bottom: 100px;
  right: 0px;
  text-align: center;
  transition-duration: 1.1s;
  /* border-radius: 20px;
  opacity: 0.4; */
}
.arrow:hover {
  height: 50px;
  width: 60px;
  background-color: #92c7cf;
}

#left-bottom {
  background-color: #92c7cf;
  opacity: 0.8;
  width: 380px;
  height: 720px;
  position: sticky;
  top: 85px;
  /* margin-left: 10px; */
}

#left-bottom > ul > li > h4 {
  color: #1f484f;
}

#left-bottom > ul > li > a {
  text-decoration: none;
  font-size: 25px;
  color: #1f484f;
  margin: 10px;
}

#left-bottom > ul > li > a:hover {
  margin-left: 30px;
}

#left-bottom > .img > img {
  height: 50px;
  width: 50px;
}

.img > h2 {
  margin: 10px;
  font-size: 15px;
  color: #1f484f;
}

#left-bottom > h6 {
  color: #1f484f;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.cat {
  border: 1px solid black;
  margin: 5px;
  background-color: gray;
}

/* .cat:hover {
} */

.product-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#left-bottom > h4 {
  text-align: center;
  font-family: "Roboto Serif", system-ui;
}

#left-bottom > h6 {
  text-align: center;
}

.product-card {
  height: 300px;
  width: 250px;
  margin: 20px;
  text-align: center;
  position: relative;
  top: 60px;
  left: 20px;
  z-index: 1;
}
.product-card:hover {
  max-width: 100%;
  border-radius: 10px;
}

.product-card > img {
  height: 250px;
  width: 100%;
  margin-bottom: 10px;
}

.img {
  display: flex;
}

#main {
  width: 100%;
  max-width: 90vw;
  height: auto;
  display: flex;
}

.product-container {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.sub-product {
  position: relative;
  max-width: 400px;
  height: 250px;
  background-color: #aad7d9;
  opacity: 0.9;
  margin: 30px 10px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 5px black;
  transition: 0.3s ease-in-out;
}
.sub-product:hover {
  height: 450px;
  width: 330px;
  padding: 10px;
}

.cart {
  padding: 2px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 2px inset black;
}

.img-card {
  position: relative;
  width: 260px;
  height: 320px;
  top: -60px;
  left: 20px;
  text-align: center;
  z-index: 1;
  box-shadow: 0px 0px 10px black;
}

.img-card > img {
  width: 100%;
  height: 220px;
  border-radius: 4px;
}

.back-img {
  position: relative;
  margin-top: -140px;
  padding: 10px 5px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.sub-product:hover .back-img {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

@media screen and (max-width: 480px) {
  #main {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  #main > #left-bottom > .product-list > li > a {
    font-size: 15px;
    color: black;
    font-weight: bold;
  }

  #main > #left-bottom > h6 {
    font-size: 20px;
    font-weight: bold;
    color: black;
  }

  #main > #left-bottom > .img > h2 {
    color: black;
  }

  .banner {
    position: relative;
  }

  #main > #left-bottom {
    position: relative;
    width: 240px;
    height: auto;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  #sidebox {
    display: none;
  }

  .product-container {
    margin-top: 100px;
    padding: 5px;
    margin-left: -30px;
    display: flex;
    flex-direction: column;
  }

  .sub-product {
    position: relative;
    max-width: 480px;
    height: 250px;
    background-color: #aad7d9;
    opacity: 0.9;
    margin: 30px 10px 30px 20px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 5px black;
    transition: 0.3s ease-in-out;
  }
  .sub-product:hover {
    height: 450px;
    width: 255px;
    padding: 0px;
    margin-left: 35px;
    margin-top: 100px;
  }

  .product-container > .sub-product > .back-img > pre > p {
    font-size: 30px;
  }

  .img-card {
    position: relative;
    width: 250px;
    height: 260px;
    top: -60px;
    left: 20px;
    text-align: center;
    z-index: 1;
    box-shadow: 0px 0px 10px black;
  }

  .img-card:hover {
    width: 240px;
    margin-right: 100px;
  }

  .img-card > img {
    width: 100%;
    height: 200px;
    border-radius: 4px;
  }

  .back-img {
    margin-top: -140px;
    padding: 10px 5px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }

  .sub-product:hover .back-img {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
  }
}
